* {
    padding: 0;
    margin: 0;
}

/* Body Style */

body {
    background-image: radial-gradient(rgb(207, 207, 253),rgb(69, 170, 253));
    height: 100vh;
    box-sizing: border-box;
    padding: 50px;
}

.title-image {
    width: 320px;
    height: 80px;
    object-fit: cover;
}

.title {
    display: flex;
    justify-content: center;
    width: inherit;
}

/* Main container style */
.main-container {
    display: flex;
    flex-grow: 1;
}


/* Aside Left Style */
.left {
    background-color: pink;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    border-right: solid 3px white;
    padding: 15px;
}

.score-container {
    background-color: green;
    border: solid 1px white;
    border-radius: 5px;
    height: fit-content;
}

.score-container h2{
    text-align: center;
    padding: 5px 10px;
    background-color: white;
}

.score-container p {
    text-align: center;
    border-radius: 3px;
    padding: 15px;
    background-color: skyblue;
}

.btn {
    padding: 10px 15px;
    background-color: orange;
    border-radius: 25px;
    outline: none;
    border: solid white 1px;
    width: fit-content;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.left .control-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

/* Main style */
main {
    background-color: red;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main .timer-container .outer{
    width: 100%;
    background-color: black;
    border: white;
    border-radius: 20px;
    height: 10px;
}

main .game-gird-container {
    display: grid;
    grid-template-rows: repeat(3,1fr);
}

/* Aside Right Style */
.right {
    background-color: peru;
}

/* Social Media Style */
.social-container ul {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.social-container li {
    list-style: none;
}

.social-container li a {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

.social-container li a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.social-container li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}

ul li:nth-child(1) a:hover .fab {
    color: #007bb6;
}

ul li:nth-child(2) a:hover .fab {
    color: #e4405f;
}