* {
    padding: 0;
    margin: 0;
}

/* Body Style */

body {
    background-image: radial-gradient(rgb(207, 207, 253),rgb(69, 170, 253));
    height: 100vh;
    box-sizing: border-box;
    padding: 50px;
}

.title-image {
    width: 320px;
    height: 80px;
    object-fit: cover;
}

.title {
    display: flex;
    justify-content: center;
    width: inherit;
}

/* Main container style */
.main-container {
    display: flex;
    flex-grow: 1;
}


/* Aside Left Style */
.left {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 15px;
}

.score-container {
    background-color: green;
    border: solid 1px white;
    border-radius: 5px;
    height: fit-content;
}

.score-container h2{
    text-align: center;
    padding: 5px 10px;
    background-color: white;
}

.score-container p {
    text-align: center;
    border-radius: 3px;
    padding: 15px;
    background-color: skyblue;
}

.btn {
    padding: 10px 15px;
    background-color: orange;
    border-radius: 25px;
    outline: none;
    border: solid white 5px;
    width: fit-content;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.left .control-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

/* Main style */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-right: solid 3px white;
    border-left: solid 3px white;
    box-sizing: border-box;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

main #start {
    position: absolute;
    font-size: 45px;
    top: 50%;
    z-index: 2;
    display: block;
    outline: none;
    border: 3px solid black;
    color: white;
    background-color: red;
    padding: 8px;
    border-radius: 11px;
    box-shadow: 5px 5px black;
    animation: start 1s linear infinite;
}

@keyframes start {
    0% {
        color: white;
        background-color: rgb(255, 41, 41);
        box-shadow: 0 0 black;
    }
    50% {
        color: rgb(255, 41, 41);
        background-color: white;
        box-shadow: 5px 5px black;
    }
    100% {
        color: white;
        background-color: rgb(255, 41, 41);
        box-shadow: 0 0 black;
    }
}

main .timer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .timer-container h3 {
    text-align: center;
    font-size: 30px;
}

main .timer-container .outer{
    width: 70%;
    background-color: black;
    border: solid 3px white;
    border-radius: 20px;
    height: 10px;
    display: block;
}

.timer-container .timer {
    width: 100%;
    height: inherit;
    background-color: green;
    display: block;
    border-radius: 15px;
}

main .game-grid-container {
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 5px;
}

.game-grid-container .grid {
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    transform: scale(1);
}

@keyframes pulse-right {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(33, 253, 33);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgb(33, 253, 33);
        background-color: lime;
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(33, 253, 33);
        background-color: white;
    }
}

@keyframes pulse-false {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(253, 33, 33);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgb(253, 33, 33);
        background-color: red;
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgb(253, 33, 33);
        background-color: white;
    }
}

/* Aside Right Style */
.right {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 15px;
}


/* Social Media Style */
.social-container {
    align-self: flex-end;
    justify-self: center;
}

.social-container img:nth-child(1) {
    width: 50px;
    height: 50px;
}

@keyframes roll-up {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);
    }
}

@keyframes roll-down {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-720deg);
    }
}


.social-container ul {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.social-container li {
    list-style: none;
}

.social-container li a {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

.social-container li a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.social-container li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}

ul li:nth-child(1) a:hover .fab {
    color: #007bb6;
}

ul li:nth-child(2) a:hover .fab {
    color: #e4405f;
}